
  
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Síguenos en redes sociales:</p>
        </div>
        <div class="col-md-6 text-end">
          <!-- Enlaces a redes sociales con los logos como fondo -->
          <a href="#" class="social-link" style="background-image: url('facebook_logo.png');"></a>
          <a href="#" class="social-link" style="background-image: url('twitter_logo.png');"></a>
          <a href="#" class="social-link" style="background-image: url('instagram_logo.png');"></a>
          <a href="#" class="social-link" style="background-image: url('linkedin_logo.png');"></a>
        </div>
      </div>
    </div>
  </footer>