<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0d47a1;"> <!-- Azul oscuro -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #ffffff; font-size: 24px;"> <!-- Blanco, Tamaño de fuente más grande -->
        <span style="display: inline-block; transform: rotate(45deg); margin-right: 5px;">★</span> <!-- Estrella con las puntas dobladas -->
        DILIPA
      </a>
    </div>
  </nav>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <!-- Contenido del formulario -->
      </div>
      <div class="col-md-4">
        <!-- Contenido del resultado -->
      </div>
    </div>
  </div>
  